:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: "Rubik", "Arial", sans-serif;
    max-width: 1440px;
    margin: auto;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, p {
    margin: 0;
}

img {
    margin: 0;
}

button {
    padding: 0;
    color: white;
}

a {
    display: block;
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.header,.promo, .reviews, .footer {
    background: #12141D;
}

.header {
    color: white;
}

.navigation {
    display: flex;
    padding: 24px 150px;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 153px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.navigation .logo {
    margin-bottom: 0;
}

.navigation-list {
    display: flex;
    color: white;
}

.navigation-link {
    color: inherit;
    margin-right: 36px;
}

.user-actions-item {
    display: inline-block;
}

.button {
    font-family: Rubik, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    padding: 14px 24px 14px 40px;
}

.sign-up-button {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: url(../img/icons/signup.svg) no-repeat 20% 50%;
}

.sign-in-button {
    background: rgba(255, 255, 255, 0.10) url(../img/icons/signin.svg) no-repeat 20% 50%;
}

.main-heading {
    font-size: 80px;
    line-height: 88px;
    font-weight: 600;
    letter-spacing: -1.6px;
    color: white;
    text-align: center;
    width: 740px;
    margin: 0 auto 24px;
}

.promo {
    margin-bottom: 100px;
}

.promo-text {
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    margin: 0 auto 52px;
    width: 600px;
}

.job-search {
    font-size: 18px;
    color: #444D56;
    line-height: 120%;
    width: 604px;
    display: block;
    margin: 0 auto 32px;
}

.total-jobs {
    font-size: 16px;
    line-height: 30px;
    color: white;
    text-align: center;
    padding-bottom: 137px;
}

.total-jobs-count {
    font-size: 20px;
    color: #39C587;
    line-height: 30px;
}

.holder-heading {
    font-size: 20px;
    line-height: 24px;
    color: #12141D;
    font-weight: 400;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holder-heading::before, .holder-heading::after {
    content: "";
    display: block;
    width: 431px;
    height: 1px;
    background: rgba(18, 20, 29, 0.20);
}

.trusted-holders, .container {
    width: 1140px;
    margin: 0 auto;
}

.trusted-list {
    margin-bottom: 100px;
    padding-bottom: 32px;
    padding-top: 32px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-bottom: 1px solid rgba(18, 20, 29, 0.20);;
}

.featured-jobs {
    background-color: #F7F8F8;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-bottom: 120px;
}

.jobs-filter-heading, .featured-companies-heading, .managing-heading, .boosting-heading {
    font-family: "Poppins", Arial, sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.36px;
    color: #12141D;
}


.jobs-text {
    color: #12141D;
    font-size: 16px;
    line-height: 20px; /* 125% */
    opacity: 0.6000000238418579;
}

.filters {
    display: flex;
    margin-bottom: 52px;
}

.filters-description {
    margin-right: auto;
}

.filters-list {
    display: flex;
    align-items: flex-end;
}

.jobs-filter-heading {
    margin-bottom: 12px;
}

.filter-button {
    border-radius: 4px;
    color: #12141D;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
    background-color: rgba(18, 20, 29, 0.05);
    padding: 8px 13px;
}

.filter-button:active, .filter-active {
    background: #F64;
    color: #FFF;
    font-family: Rubik, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.job-button:active {
    background: #226BF9;
    color: white;
}

.filter:not(:last-child) {
    margin-right: 12px;
}

.jobs-item {
    display: flex;
    align-items: center;
    border: 1px solid rgba(18, 20, 29, 0.24);
    padding: 20px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.jobs-info {
    margin-right: auto;
}

.job-image {
    margin-right: 20px;
}

.jobs-heading {
    color: #12141D;
    font-family: Poppins, Arial, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    margin-bottom: 16px;
}

.tags-container {
    display: flex;
    align-items: center;
}

.tag {
    display: flex;
    align-items: center;
}

.remote-tag::before, .hour-tag::before, .level-tag::before, .salary-tag::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 19px;
    margin-right: 4px;
}

.remote-tag::before {
    background: url("../img/icons/location.svg") no-repeat;
}

.hour-tag::before {
    background: url("../img/icons/clock.svg") no-repeat;

}

.level-tag::before {
    background: url("../img/icons/status-up.svg") no-repeat;

}

.salary-tag::before {
    background: url("../img/icons/dollar-circle.svg") no-repeat;

}

.tag {
    margin-right: 20px;
}

.tag:last-child {
    margin-right: 40px;
}

.tags-list {
    display: flex;
    color: #12141D;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.filter-tag {
    display: inline-block;
    background: rgba(255, 102, 68, 0.10);
    color: #FD4C5C;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px; /* 100% */
    padding: 6px 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-primary {
    background: rgba(34, 107, 249, 0.10);
    color: #226BF9;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
    padding: 10px 16px;
    display: inline-block;
    border-radius: 4px;
}

.stars::before {
    content: "";
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url("../img/icons/star.svg") no-repeat;
    vertical-align: top;
}

.companies-list .button-primary {
    color: #226BF9;
    font-family: Rubik, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 115%; /* 18.4px */
}

.button-more {
    display: inline-block;
    background: #F64;
    color: #FFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 16px; /* 100% */
    margin-top: 36px;
    padding: 16px 24px;
    border-radius: 4px;
}

.featured-companies {
    padding-bottom: 120px;
}

.featured-companies-heading {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 52px;
}

.companies-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 16px;
}

.companies-item {
    padding: 32px 20px 26px 20px;
    border-radius: 8px;
    border: 1px solid #E1E4E8;
}

.company-heading {
    font-family: Outfit, Rubik, Arial, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 100% */
    padding-bottom: 12px;
}

.company-rating {
    margin-bottom: 16px;
    margin-top: 20px;
    padding: 12px;
    border-radius: 8px;
    background: #F8F8F8;
}

.company-description {
    color: #12141D;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    margin-bottom: 30px;
}

.stars, .companys-reviews {
    color: rgba(18, 20, 29, 0.80);
    text-align: center;
    font-family: DM Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

.reviews {
    margin-bottom: 120px;
}

.review-container {
    width: 1134px;
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.review-content {
    color: #FFF;
    font-size: 32px;
    font-weight: 400;
    line-height: 40px; /* 125% */
    letter-spacing: -0.64px;
    padding-right: 95px;
    padding-left: 60px;
}

.review-text {
    padding-bottom: 36px;
}

.review-text::before {
    content: "";
    width: 48px;
    height: 48px;
    display: block;
    background: url("../img/icons/quote.svg");
    margin-bottom: 32px;
}

.review-author {
    color: #FFF;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px; /* 120% */
    padding-bottom: 8px;
}

.authors-job {
    display: block;
    color: rgba(255, 255, 255, 0.50);
    font-size: 14px;
    font-weight: 400;
    line-height: 16px; /* 114.286% */
}

.slider-actions {
    align-self: flex-end;
    display: flex;
}

.prev-image {
    margin-right: 8px;
    border-radius: 50%;
}

.next-image {
    border-radius: 50%;
}

.managing {
    margin-bottom: 120px;
}

.managing-heading {
    text-align: center;
    margin: 0 auto 52px;
}

.managing-list {
    /*display: grid;*/
    /*grid-template-columns: repeat(3, 1fr);*/
    display: flex;
    gap: 24px;
}

.managing-icon {
    margin-bottom: 26px;
}

.managing-item {
    border-radius: 8px;
    border: 1px solid #E1E4E8;
    padding: 42px 62px 42px 32px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.managing-item-heading {
    color: #1B1F23;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px; /* 116.667% */
    padding-bottom: 12px;
}

.managing-text {
    color: #444D56;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding-bottom: 24px;
}

.managing-button {
    padding: 10px 24px 10px 6px;
    margin-top: auto;
    display: inline-block;
    color: #444D56;
    font-size: 16px;
    font-weight: 400;
    line-height: 120%; /* 19.2px */
    background: url("../img/icons/arrow-black.svg") no-repeat calc(100% - 6px) 50%;
}

.managing-button:hover {
    border-radius: 4px;
    color: #226BF9;
    background: rgba(34, 107, 249, 0.10)
                url("../img/icons/arrow-blue.svg") no-repeat calc(100% - 6px) 50%;
}

.boosting-heading {
    color: white;
}

.links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 52px;
    margin-bottom: 52px;
}

.links-heading {
    color: white;
}

.facebook-link::before {
    content: url("../img/icons/Facebook.svg");
    padding-right: 8px;
    vertical-align: middle;
}

.twitter-link::before {
    content: url("../img/icons/Twitter.svg");
    padding-right: 8px;
    vertical-align: middle;
}

.linkedin-link::before {
    content: url("../img/icons/LinkedIn.svg");
    padding-right: 8px;
    vertical-align: middle;
}

.inst-link::before {
    content: url("../img/icons/instagram.svg");
    padding-right: 8px;
    vertical-align: middle;
}

.slack-link::before {
    content: url("../img/icons/slack.svg");
    padding-right: 8px;
    vertical-align: middle;
}

.boosting {
    display: flex;
    align-items: baseline;
    padding-top: 100px;
    padding-bottom: 52px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.boosting > .button-more {
    margin-top: 0;
}

.boosting-heading {
    margin-right: auto;
    width: 552px;
}

.links-item {
    margin-bottom: 24px;
}

.footer-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
}

.links-content:not(:first-child) .links-heading {
    margin-bottom: 40px;
    font-family: Poppins, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 111.111% */
}

.logo {
    font-family: Rubik, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 116.667% */
    margin-bottom: 32px;
    background: url("../img/icons/ellipse.svg") no-repeat;
    background-size: contain;
}

.social {
    margin-bottom: 20px;
}

.other-links > .links-item .footer-link {
    color: rgba(255, 255, 255, 0.60);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
}

.geo-info, .other-links, .other-links-list {
    display: flex;
}

.currency-link::after {
    content: url("../img/icons/arrow-down.svg");
    vertical-align: top;
    padding-left: 8px;
}

.language-link::after {
    content: url("../img/icons/global.svg");
    padding-left: 8px;
    vertical-align: middle;
}

.other-links-list {
    margin-right: auto;
}

.other-links-list > .links-item, .geo-info > .links-item:not(:last-child) {
    margin-right: 24px;
}

.footer {
    flex-grow: 1;
}

.logo {
    color: white;
}